@import 'fumadocs-ui/css/style.css';
@import 'fumadocs-ui/css/ocean.css';

:root {
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Inter, Arial, sans-serif;
}

a {
  color: inherit;
}
